/* Change highlight colour */
*::selection {
  background: rgb(218, 69, 103, 0.7);
}

/* Change social icons on hover */
.main-icon {
  transition-duration: 800ms !important;
}s

.main-icon-orcid {
  transition-duration: 800ms !important;
}

.main-icon:hover {
  stroke: #DA4567 !important;
  transition: 400ms !important;
}
.main-icon-orcid:hover{
  fill: #DA4567 !important;
  transition: 400ms !important;
}

/* Logo */
/* Logo Cursor */
.logo__cursor {
  display: inline-block;
  width: 8px;
  height: 1rem;
  background: #fe5186;
  margin-left: 5px;
  border-radius: 1px;
  animation: cursor 1.2s infinite;
}

@keyframes cursor {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

/*Logo change on hover*/
div#logo span#logomark_a {
  display: inline;
  width: 1.5rem;
}

div#logo:hover #logomark_a {
  display: none;
}

div#logo span#logomark_b {
  display: none;
  width: 1.5rem;
}

div#logo:hover #logomark_b {
  display: inline;
}

/* Links change colour on hover */
a:not(.logo):link {
  transition-duration: 400ms !important;
}
a:not(.logo):link:hover {
  color: #DA4567;
  transition: 400ms !important;
}
a:not(.logo):visited {
  transition-duration: 400ms !important;
}
a:not(.logo):visited:hover {
  color: #DA4567;
  transition: 400ms !important;
