//Change social icons on hover
.main-icon {
  transition-duration: 800ms !important;
}

.main-icon-orcid {
  transition-duration: 800ms !important;
}

.main-icon:hover {
  stroke: #DA4567 !important;
  transition: 400ms !important;
}
.main-icon-orcid:hover{
  fill: #DA4567 !important;
  transition: 400ms !important;
}

//Links change colour on hover
a:link {
  transition-duration: 400ms !important;
}
a:link:hover {
  color: #DA4567;
  transition: 400ms !important;
}

//Change logo__mark (cowboy) on hover
.logo__text:hover::after {
  content: " %>% ";
}
